/*color scheme used throughout the page*/
:root {
    --primary: #B91646;
    --secondary: #FDD67E;
    --tertiary: #81ADC8;
    --quaternary: white;
}

/*styles the nav bar and adds the RVA Hotspot logo*/
.navbar-item {
        font-family: 'Lato', sans-serif;
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        width: 8em;
        height: auto;
        src: url(https://fonts.gstatic.com/s/lato/v23/S6u9w4BMUTPHh7USSwaPGQ3q5d0N7w.woff2) format('woff2');
        unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

.navbar-brand {
    margin-left: 30px;
}

.navbar {
    z-index: 10000;
    position: fixed;
    top: 0px;
    width: 100%;
}

/*main image customer will be greeted with*/
.hero-body {
    background-image: url(./rvaskylinewide.jpeg);
    background-size:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment:scroll;
}
/*rva hotspot logo centered on the hero image*/
.hero-logo{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    background-position: 80%;
    border-radius:10in;
    max-width: 20%;
    max-height: 20%;
}
/*title that describes the following sections*/
.title {
font-family: 'Roboto Condensed', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb9lecyVC4A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/*subtitle that describes the food and booze sections*/
.subtitle {
    background-color: transparent;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight:lighter;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/robotocondensed/v25/ieVi2ZhZI2eCN5jzbjEETS9weq8-32meGCkYb9lecyVC4A.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

/* Contact Section CSS Start*/
#contact-us {
    margin-top: 20px;
}

/*background image in contact section*/
.bg-img {
    background-image: url(./rva_downtown.jpeg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}
/*google map in contact section*/
iframe {
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
}

.contact-content {
    background-color: var(--primary);
    color: white;
}
/*background color behind map*/
.contact-map {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.contact-map iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

.contact-form {
    background-color: var(--tertiary);
}
/* Contact Section CSS End */

/*styling for each restuant button*/
.filters {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    background-attachment: fixed;
    
}
/*styling for the names on each "filter" button*/
/* a {
    width: 8em;
    height: auto;
  } */
  
  [hidden] {
    display: none;
  }
/*background image for carousel that displays the breweries*/
#breweries {
  background: url(https://therealbarman.com/wp-content/uploads/2018/08/Bar-Background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  height: 500px;

}
/*styling for the carousel*/
.bg_carousel {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  max-width: 100%;
  position: relative;
  text-align: center;
  font-size: xx-large;
  margin-top: 6rem;
}
  /* Footer Styles Start */
.footer {
    background-color: white;
    width: 100%;
    margin-top: 20px;
}

