:root {
    --primary: #B91646;
    --secondary: #FDD67E;
    --tertiary: #81ADC8;
    --quaternary: #FBF3E4;
}

* {
    background-color: var(--quaternary);
}

header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}



/* Contact Section CSS Start*/
#contact-us 

iframe {
    box-shadow: rgba(0, 0, 0, 0.5) 0 8px 15px;
}

.contact-content, p {
    background-color: var(--primary);
    color: white;
}

.contact-map {
    background-color: var(--secondary);
}

.contact-form {
    background-color: var(--tertiary);
}
/* Contact Section CSS End */
