:root {
    --primary: #B91646;
    --secondary: #FDD67E;
    --tertiary: #81ADC8;
    --quaternary: #FBF3E4;
}

* {
    background-color: var(--quaternary);
}

.hero-body {
    background-image: url(./rvawide.jpeg);
    background-position: 100%;
    background-repeat: none;
}

.title, .subtitle {
    background-color: transparent;
}



